.nav-bar {
    height: 65px;
    background-color: #EF233C;
}

.nav-bar a{
    color: #FFF;
}

.nav-bar a:hover{
    color: #EDF2F4;
}

.add-task {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 18px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}